apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-api
  labels:
    app: backend-api
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend-api
  template:
    metadata:
      labels:
        app: backend-api
      annotations:
        checksum/config: "{{ include (print $.Template.BasePath \"/configmap.yaml\") . | sha256sum }}"
    spec:
      containers:
      - name: backend-api
        image: backend-api:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 3000
        env:
        - name: APP_NAME
          valueFrom:
            configMapKeyRef:
              name: backend-config
              key: APP_NAME
        - name: PORT
          value: "3000"
